<template name="showRace">
    <div id="showRace" class="container">
        <h2>Races</h2>

        <div id="race_list" class="race_list col-md-6">
            {{#each races}}
            <div class="race_event">
                <a class="race_event_a" style="border-color: #ffa800" href="{{pathFor 'raceDetail' _id=this._id }}">
                    <p class="race_cblock" style="bgcolor:#ffa800">
                        <em class="race_date">{{getDay raceDate}}</em><em class="race_month">{{getMonth raceDate}}</em>
                        <em class="race_day">{{getDayofWeek raceDate}}</em><em class="clear"></em>
                    </p>
                    <p class="race_desc">
                        <span class="race_title">{{name}}</span>
                        <span class="race_info">
		<em class="race_time">8:00 am</em> <em class="race_location">Anaeho'omalu Bay at Waikoloa Beach</em>
		</span>
		<span class="race_description race_info"><em class="race_description">{{description}}</em></span>
                        <span class="race_info">
		<em class="race_oganizer"><i>Event Organized By:</i> </em> 
		<span class="race_types">
		<em><i>Event Type :</i></em><em>Free Event</em><em>Olympic Distance Triathlon</em>
		<em>Triathlon</em><i class="clear"></i>
		</span>
                        <span class="race_Favorite">
		    <em>Interested People: {{favoriteCount this._id}}</em>
		</span>
                        </span>
                    </p>
                </a>
                <div class="clear"></div>
            </div>
            {{/each}}
        </div>
    </div>

</template>
